.wrapper {
    padding: 3px 3px;
}
.cust-confirm-btn {
    float: right;
}
.cust-details {
    font-family: "Courier New";
}
.order-btn {
    float: right;
}
.menu {
    height: 500px;
    overflow-y: scroll;
}
